/* Floating is one the most used techniques in page layout for postioning content */



/* margin-auto positions element in the center
**********************************************/
.wrapper {
    background: #fff;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

/* Floating Elements
*********************/

img {
    //float: left;
    float: right;
    margin: 10px;
}

/* Floating Elements 2
**********************/

.box {
    height: 100px;
    width: 100px;
}
.blue-box {
    background: blue;
    float: right;
}

.red-box {
    background: red;
    //float: left;
    float: right;
    margin-left: 10px;
}

.green-box {
    background: green;
    float: left;
}

/* Clearing Floats
*******************/

.service h2, .service p {
    color: #999;
    margin: 10px;
    text-align: center;
}

.service {
    float: left;
    background: #eee;
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    position: relative;
}

.service:nth-child(1) {
    top: 10px;
}

.service:nth-child(2) {
    top: 20px;
}

.service:nth-child(3) {
    bottom: 10px;
}

/* Use these styles to clear floats.
[::after] is a generated content element that
represents a styleable abstract last child of
the respective element.
**********************************************/
.services::after {
    content: "";
    display: block;
    clear: both;
}
/* Directional properties work becuase the
relative property us present. Relative property
does not remove element from normal document flow.
Just offsetting it visually.
***************************************************/
.content {
    padding: 10px;
    clear: left;
    margin: 20px 1%;
    //position:relative;
    //left: 50px;
    //right: 50px;
    //top: 50px;
    //bottom: 50px;
    //background: #ccc;
    //clear: both;
    //clear: right;
    //margin-top: 50px;
    //margin: 20px;
}

/* Create text columns without using floats
-webkit provides support to browsers that dont recognize the column property
********************************************/
.content p {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #CCC;
    column-rule: 1px solid #CCC;
    text-align: justify;
}

section, aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}

.columns::after {
    display: block;
    content: "";
    clear: both;
}

#banner img {
    margin: 0;
}

#banner {
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
}

#banner h2 {
    position: absolute;
    bottom: 10%;
    //left: 0;
    margin:0;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
}
/* [position-fixed, top, left, width] pulled navbar
from bottom of screen and placed it at the top on
top of other elements and is uneffected by scrolling.
****************************************************/

nav {
    background: #333;
    //padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Had to clear [ul] or else the [nav li]
would collapse after [li] were floated
*************************************/
nav ul::after {
    display: block;
    content: "";
    clear: both;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    color: #fff;
    float: right;
}
